<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aviones</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/2.2.0/css/dataTables.bootstrap5.css"
    />
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.2.0/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.2.0/js/dataTables.bootstrap5.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </head>
  <body>
    <% if (typeof username !== 'undefined') { %> <%- include('header') %> <%-
    include('side-bar') %>
    <main>
      <h1><%= nombreEntidad.toUpperCase() %></h1>
      <section>
        <table id="contenido" class="table table-striped" style="width: 100%">
          <thead>
            <tr>
              <% Object.keys(entidad[0]).forEach(element => { %>
              <th><%= element%></th>
              <% }) %>
            </tr>
          </thead>
          <tbody>
            <% entidad.forEach((element, index) => { %>
            <tr>
              <% Object.keys(element).forEach(key => { %>
              <td><%= element[key] %></td>
              <% }) %>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </section>
    </main>
    <% } %> <% if (typeof username === 'undefined') { %> <%-
    include('no-permiso') %> <% } %>
    <script>
      new DataTable("#contenido");

      function deleteEntidad(id, tipoP) {
        if (tipoP) {
          fetch(`/<%= nombreEntidad %>/${id}/eliminar`, {
            method: "POST",
            body: JSON.stringify({ tipo: tipoP }),
          })
            .then((response) => {
              if (response.ok) {
                alert(`<%= nombreEntidad %> eliminado exitosamente`);
                window.location.reload();
              } else {
                alert(`Error al eliminar el <%= nombreEntidad %>`);
              }
            })
            .catch((error) => console.error("Error:", error));
        }
        fetch(`/<%= nombreEntidad %>/${id}/eliminar`, {
          method: "POST",
        })
          .then((response) => {
            if (response.ok) {
              alert(`<%= nombreEntidad %> eliminado exitosamente`);
              window.location.reload();
            } else {
              alert(`Error al eliminar el <%= nombreEntidad %>`);
            }
          })
          .catch((error) => console.error("Error:", error));
      }

      function modifyEntidad(id) {
        window.location.href = `/<%= nombreEntidad %>/${id}/modificar`;
      }
    </script>
  </body>
</html>
